*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{

background:
linear-gradient(
90deg,
#6b21a8,
#0f172a
);

color:white;

min-height:100vh;
padding:50px;
}

.container{

border:1px solid rgba(255,255,255,.15);

border-radius:35px;

padding:40px;

backdrop-filter:blur(20px);

background:
rgba(0,0,0,.45);
}

nav{

display:flex;
justify-content:space-between;
margin-bottom:60px;
}

.logo{
font-size:25px;
font-weight:bold;
}

.hero{

text-align:center;
margin-top:40px;
}

.tag{

display:inline-block;

padding:10px 20px;

border:1px solid #a855f7;

border-radius:30px;

margin-bottom:25px;
}

.hero h1{

font-size:65px;

background:
linear-gradient(
90deg,
#ff5cc8,
#77a8ff
);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

margin-bottom:20px;
}

.hero p{
color:#bdbdbd;
margin-bottom:40px;
}

.upload-box{

width:400px;

margin:auto;

padding:35px;

border:1px dashed gray;

border-radius:20px;
}

input{

margin-bottom:25px;
color:white;
}

button{

background:
linear-gradient(
90deg,
#ff5cc8,
#77a8ff
);

border:none;

padding:14px 30px;

color:white;

border-radius:10px;

cursor:pointer;
}

.features{

margin-top:120px;
}

.cards{

display:flex;

gap:30px;

margin-top:30px;
}

.feature-card{

flex:1;

padding:30px;

border:1px solid rgba(255,255,255,.2);

border-radius:20px;

background:
rgba(255,255,255,.03);
}

.result-card{

width:650px;

margin:auto;

margin-top:120px;

padding:50px;

text-align:center;

background:
rgba(0,0,0,.45);

border-radius:25px;
}

.score{

width:180px;

height:180px;

border-radius:50%;

background:
linear-gradient(
90deg,
#ff5cc8,
#77a8ff
);

display:flex;

justify-content:center;

align-items:center;

margin:auto;

font-size:50px;

margin-top:25px;

margin-bottom:30px;
}

ul{
text-align:left;
margin-top:20px;
}

li{
margin:10px;
}